<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Навигатор профессий в агро{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <h1>Навигатор профессий в агро</h1>
            <nav>
                <a href="{{ url_for('index') }}">Главная</a>
                <a href="{{ url_for('catalog') }}">Каталог профессий</a>
                <a href="{{ url_for('test') }}">Пройти тест</a>
            </nav>
        </div>
    </header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="container">
            <p>© 2025 АгроПуть: навигатор по профессиям будущего в АПК</p>
        </div>
    </footer>
</body>
</html>
